In [1]:
#import
import pandas as pd
import numpy as np

In [2]:
#df = pd.read_csv("gnb_normalize_dataset_fix.csv")
df = pd.read_csv("dataset_iklim_new.csv", delimiter=";", thousands=".", decimal=",")

# set column names
df.columns = ['tanggal', 'tn', 'tx', 'tavg', 'rh_avg', 'rr', 'ss', 'ff_x', 'ddd_x', 'ff_avg', 'ddd_car']

df

,tanggal,tn,tx,tavg,rh_avg,rr,ss,ff_x,ddd_x,ff_avg,ddd_car
0,01/01/2020,20.4,28.2,23.7,87.0,43.3,4.4,3.0,170.0,1.0,C
1,02/01/2020,21.2,28.8,23.8,90.0,2.6,3.9,4.0,150.0,1.0,C
2,03/01/2020,21.4,28.8,24.0,86.0,1.9,4.6,4.0,160.0,1.0,C
3,04/01/2020,21.6,28.6,24.2,86.0,2.1,3.0,4.0,290.0,1.0,C
4,05/01/2020,22.0,28.3,24.1,88.0,1.0,1.3,3.0,140.0,2.0,SE
...,...,...,...,...,...,...,...,...,...,...,...
977,04/09/2022,19.8,29.0,23.7,78.0,0.0,9.0,3.0,170.0,2.0,S
978,05/09/2022,19.4,29.3,23.8,78.0,16.4,5.7,5.0,90.0,2.0,C
979,06/09/2022,19.0,29.4,23.6,81.0,0.0,2.6,4.0,140.0,1.0,C
980,07/09/2022,19.0,28.8,24.1,83.0,0.0,5.2,4.0,200.0,2.0,S
981,08/09/2022,19.3,30.0,23.5,81.0,11.4,2.9,5.0,110.0,2.0,C

In [3]:
#kacang tanah

good_temprature = [25,26,27,28,29,30,31,32]
good_kelembapan = [65,66,67,68,69,70,71,72,73,74,75]
good_intensitas = [63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83]
good_curahhujan = [100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150]

- 8888: data tidak terukur
- 9999: Tidak Ada Data (tidak dilakukan pengukuran)
- Tn: Temperatur minimum (°C)
- Tx: Temperatur maksimum (°C)
- **Tavg: Temperatur rata-rata (°C)**
- **RH_avg: Kelembapan rata-rata (%)**
- **RR: Curah hujan (mm)**
- **ss: Lamanya penyinaran matahari (jam)**
- ff_x: Kecepatan angin maksimum (m/s)
- ddd_x: Arah angin saat kecepatan maksimum (°)
- ff_avg: Kecepatan angin rata-rata (m/s)
- ddd_car: Arah angin terbanyak (°)

Next... checking datatypes

In [4]:
df = df.drop(['tanggal','tn','tx','ff_x','ddd_x','ff_avg','ddd_car'], axis = 1)
df

     tavg  rh_avg    rr   ss
0    23.7    87.0  43.3  4.4
1    23.8    90.0   2.6  3.9
2    24.0    86.0   1.9  4.6
3    24.2    86.0   2.1  3.0
4    24.1    88.0   1.0  1.3
..    ...     ...   ...  ...
977  23.7    78.0   0.0  9.0
978  23.8    78.0  16.4  5.7
979  23.6    81.0   0.0  2.6
980  24.1    83.0   0.0  5.2
981  23.5    81.0  11.4  2.9

[982 rows x 4 columns]

In [5]:
# check type of data
df.dtypes

tavg      float64
rh_avg    float64
rr        float64
ss        float64
dtype: object

In [ ]:
print(df.shape)
df

In [6]:
df = df.dropna()
df

     tavg  rh_avg    rr   ss
0    23.7    87.0  43.3  4.4
1    23.8    90.0   2.6  3.9
2    24.0    86.0   1.9  4.6
3    24.2    86.0   2.1  3.0
4    24.1    88.0   1.0  1.3
..    ...     ...   ...  ...
977  23.7    78.0   0.0  9.0
978  23.8    78.0  16.4  5.7
979  23.6    81.0   0.0  2.6
980  24.1    83.0   0.0  5.2
981  23.5    81.0  11.4  2.9

[954 rows x 4 columns]

then, drop the rows with value 8888 (data tidak terukur a.k.a not measured) and 9999 (Tidak Ada Data (tidak dilakukan pengukuran) a.k.a no data), because we don't need it. 

Based on observation above, the value with 8888 and 9999 is only in the columns with column called rr (curah hujan)

In [7]:
# delete row with 8888 value
df.drop(df[df['rr'] == 8888].index, inplace=True)
df.drop(df[df['rr'] == 9999].index, inplace=True)
df

C:\Users\akuradz\AppData\Local\Temp\ipykernel_6468\62164681.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[df['rr'] == 8888].index, inplace=True)
C:\Users\akuradz\AppData\Local\Temp\ipykernel_6468\62164681.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[df['rr'] == 9999].index, inplace=True)

     tavg  rh_avg    rr   ss
0    23.7    87.0  43.3  4.4
1    23.8    90.0   2.6  3.9
2    24.0    86.0   1.9  4.6
3    24.2    86.0   2.1  3.0
4    24.1    88.0   1.0  1.3
..    ...     ...   ...  ...
977  23.7    78.0   0.0  9.0
978  23.8    78.0  16.4  5.7
979  23.6    81.0   0.0  2.6
980  24.1    83.0   0.0  5.2
981  23.5    81.0  11.4  2.9

[916 rows x 4 columns]

In [ ]:
# create new column with three categorical level value 0, 1, 2 based on rr value

labels = ['RENDAH', 'SEDANG', 'TINGGI']

# df['tn_level'] = pd.cut(df['tn'], bins=3, labels=labels)
# df['tx_level'] = pd.cut(df['tx'], bins=3, labels=labels)

# discrete value based on baik

df['tavg_level'] = pd.cut(df['tavg'], bins=, labels=labels)
df['rh_avg_level'] = pd.cut(df['rh_avg'], bins=3, labels=labels)
df['rr_level'] = pd.cut(df['rr'], bins=3, labels=labels)
df['ss_level'] = pd.cut(df['ss'], bins=3, labels=labels)
# df['ff_x_level'] = pd.cut(df['ff_x'], bins=3, labels=labels)
# df['ddd_x_level'] = pd.cut(df['ddd_x'], bins=3, labels=labels)
# df['ff_avg_level'] = pd.cut(df['ff_avg'], bins=3, labels=labels)

df.drop(['tavg','rh_avg','rr','ss'], axis = 1, inplace=True)

df

In [ ]:

# iterate each row in dataframe
for index, row in df.iterrows():
    # count value with TINGGI value
    tinggi = 0

    # loop each column in dataframe
    for col in df.columns:
        # check if value is TINGGI
        if row.loc[col] == 'TINGGI':
            tinggi += 1
  
    # calculate probability
    prob = tinggi / len(df.columns)
    # set row column presentase with probability value
    
    df.loc[index, 'presentase'] = prob

    df.loc[index, 'peluang_pertumbuhan'] = 'RENDAH' if prob < 0.5 else 'TINGGI' 
df

In [ ]:
# labelling df

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_labelled = df.apply(le.fit_transform)
df_labelled.head()

In [ ]:
# min max normalization sklearn

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df_labelled)
df_norm = scaler.transform(df_labelled)
df_norm = pd.DataFrame(df_norm, columns=df_labelled.columns)
df_norm.head()

In [ ]:
#  variabel bebas
print(df_labelled.columns)
y = df_labelled['peluang_pertumbuhan']
#variabel tidak bebas
y

In [ ]:
x = df_labelled.drop(['peluang_pertumbuhan','presentase'], axis=1)

x

In [ ]:
# separate the dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 3)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

In [ ]:
# import the model using multinomial naive bayes

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

# train the model
gnb.fit(x_train, y_train)

# predict the model
y_pred = gnb.predict(x_test)

# import the metrics
from sklearn import metrics

# print the accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
y_pred

In [ ]:
# plot naive bayes confusion matrix
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

cm = confusion_matrix(y_test, y_pred, labels=gnb.classes_, normalize='true')
plt.figure(figsize=(10,10))
sns.heatmap(cm, annot=True, fmt=".3f", linewidths=.5, square = True, cmap = 'Blues_r');
plt.ylabel('Actual label');
plt.xlabel('Predicted label');
all_sample_title = 'Accuracy Score: {0}'.format(metrics.accuracy_score(y_test, y_pred))
plt.title(all_sample_title, size = 15);

plt.show()

In [ ]:
# show the y_test based on separation dataset
# np.array(y_test)

# show the confusion matrix based on the prediction result 
#evaluate performance from the confusion matrix 
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

# show all probability for each predicted class 
gnb.predict_proba(x_test)

In [ ]:
new_data = [28, 84, 84, 400]

# fit with discrete values

new_data = le.transform(new_data)


# predict the new data
y_new_pred = gnb.predict([new_data])

# show the prediction result
y_new_pred