In [2]:
#import
import pandas as pd
import numpy as np

In [3]:
#df = pd.read_csv("gnb_normalize_dataset_fix.csv")
df = pd.read_csv("dataset_iklim_new.csv", delimiter=";", thousands=".", decimal=",", parse_dates=["Tanggal"], index_col="Tanggal")

df

              Tn    Tx  Tavg  RH_avg    RR   ss  ff_x  ddd_x  ff_avg ddd_car
Tanggal
2020-01-01  20.4  28.2  23.7    87.0  43.3  4.4   3.0  170.0     1.0      C
2020-01-02  21.2  28.8  23.8    90.0   2.6  3.9   4.0  150.0     1.0      C
2020-01-03  21.4  28.8  24.0    86.0   1.9  4.6   4.0  160.0     1.0      C
2020-01-04  21.6  28.6  24.2    86.0   2.1  3.0   4.0  290.0     1.0      C
2020-01-05  22.0  28.3  24.1    88.0   1.0  1.3   3.0  140.0     2.0      SE
...          ...   ...   ...     ...   ...  ...   ...    ...     ...     ...
2022-09-04  19.8  29.0  23.7    78.0   0.0  9.0   3.0  170.0     2.0      S
2022-09-05  19.4  29.3  23.8    78.0  16.4  5.7   5.0   90.0     2.0      C
2022-09-06  19.0  29.4  23.6    81.0   0.0  2.6   4.0  140.0     1.0      C
2022-09-07  19.0  28.8  24.1    83.0   0.0  5.2   4.0  200.0     2.0      S
2022-09-08  19.3  30.0  23.5    81.0  11.4  2.9   5.0  110.0     2.0      C

[982 rows x 10 columns]

- 8888: data tidak terukur
- 9999: Tidak Ada Data (tidak dilakukan pengukuran)
- Tn: Temperatur minimum (°C)
- Tx: Temperatur maksimum (°C)
- **Tavg: Temperatur rata-rata (°C)**
- **RH_avg: Kelembapan rata-rata (%)**
- **RR: Curah hujan (mm)**
- **ss: Lamanya penyinaran matahari (jam)**
- ff_x: Kecepatan angin maksimum (m/s)
- ddd_x: Arah angin saat kecepatan maksimum (°)
- ff_avg: Kecepatan angin rata-rata (m/s)
- ddd_car: Arah angin terbanyak (°)

Next... checking datatypes

In [4]:
df = df.drop(['Tavg','ff_x','ddd_x','ff_avg','ddd_car'], axis = 1)
df

              Tn    Tx  RH_avg    RR   ss
Tanggal
2020-01-01  20.4  28.2    87.0  43.3  4.4
2020-01-02  21.2  28.8    90.0   2.6  3.9
2020-01-03  21.4  28.8    86.0   1.9  4.6
2020-01-04  21.6  28.6    86.0   2.1  3.0
2020-01-05  22.0  28.3    88.0   1.0  1.3
...          ...   ...     ...   ...  ...
2022-09-04  19.8  29.0    78.0   0.0  9.0
2022-09-05  19.4  29.3    78.0  16.4  5.7
2022-09-06  19.0  29.4    81.0   0.0  2.6
2022-09-07  19.0  28.8    83.0   0.0  5.2
2022-09-08  19.3  30.0    81.0  11.4  2.9

[982 rows x 5 columns]

In [5]:
df = df.dropna()
df

              Tn    Tx  RH_avg    RR   ss
Tanggal
2020-01-01  20.4  28.2    87.0  43.3  4.4
2020-01-02  21.2  28.8    90.0   2.6  3.9
2020-01-03  21.4  28.8    86.0   1.9  4.6
2020-01-04  21.6  28.6    86.0   2.1  3.0
2020-01-05  22.0  28.3    88.0   1.0  1.3
...          ...   ...     ...   ...  ...
2022-09-04  19.8  29.0    78.0   0.0  9.0
2022-09-05  19.4  29.3    78.0  16.4  5.7
2022-09-06  19.0  29.4    81.0   0.0  2.6
2022-09-07  19.0  28.8    83.0   0.0  5.2
2022-09-08  19.3  30.0    81.0  11.4  2.9

[953 rows x 5 columns]

then, drop the rows with value 8888 (data tidak terukur a.k.a not measured) and 9999 (Tidak Ada Data (tidak dilakukan pengukuran) a.k.a no data), because we don't need it. 

Based on observation above, the value with 8888 and 9999 is only in the columns with column called rr (curah hujan)

In [6]:
# delete row with 8888 value
df.drop(df[df['RR'] == 8888].index, inplace=True)
df.drop(df[df['RR'] == 9999].index, inplace=True)
df

C:\Users\akuradz\AppData\Local\Temp\ipykernel_3000\816279575.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[df['RR'] == 8888].index, inplace=True)
C:\Users\akuradz\AppData\Local\Temp\ipykernel_3000\816279575.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[df['RR'] == 9999].index, inplace=True)

              Tn    Tx  RH_avg    RR   ss
Tanggal
2020-01-01  20.4  28.2    87.0  43.3  4.4
2020-01-02  21.2  28.8    90.0   2.6  3.9
2020-01-03  21.4  28.8    86.0   1.9  4.6
2020-01-04  21.6  28.6    86.0   2.1  3.0
2020-01-05  22.0  28.3    88.0   1.0  1.3
...          ...   ...     ...   ...  ...
2022-09-04  19.8  29.0    78.0   0.0  9.0
2022-09-05  19.4  29.3    78.0  16.4  5.7
2022-09-06  19.0  29.4    81.0   0.0  2.6
2022-09-07  19.0  28.8    83.0   0.0  5.2
2022-09-08  19.3  30.0    81.0  11.4  2.9

[915 rows x 5 columns]

In [7]:
# get mean of Tn and Tx, assign to new column called "TnTxAvg"
df["TAvg"] = (df["Tn"] + df["Tx"]) / 2
# df["curahHujanPerTahun"] = (df["RR"]) / 365
df[df["RR"] > 50]

C:\Users\akuradz\AppData\Local\Temp\ipykernel_3000\1964856219.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["TAvg"] = (df["Tn"] + df["Tx"]) / 2

              Tn    Tx  RH_avg     RR   ss   TAvg
Tanggal
2020-01-30  21.2  26.2    92.0   58.7  6.0  23.70
2020-02-04  20.1  30.0    80.0   53.7  5.4  25.05
2020-02-11  20.2  28.7    85.0   84.6  6.6  24.45
2020-12-13  20.8  28.5    85.0   78.5  1.2  24.65
2021-01-05  20.4  26.8    90.0   55.3  0.1  23.60
2021-01-11  21.2  28.8    88.0   52.4  3.1  25.00
2021-02-04  21.2  28.4    77.0   53.6  3.3  24.80
2021-02-28  20.0  27.4    84.0  145.0  1.0  23.70
2021-04-02  20.9  29.2    87.0   56.9  4.6  25.05
2021-06-22  19.8  28.4    87.0  118.8  4.5  24.10
2021-09-12  21.2  28.3    85.0   71.5  2.2  24.75
2021-12-09  21.4  29.5    84.0   55.4  4.3  25.45
2022-02-07  21.9  27.8    76.0   55.0  4.0  24.85
2022-03-10  20.8  28.8    84.0   62.8  3.0  24.80
2022-04-05  19.0  29.8    78.0   95.7  6.3  24.40
2022-06-06  19.6  28.4    87.0   73.1  5.3  24.00
2022-06-11  20.2  29.0    82.0   92.5  6.8  24.60
2022-06-18  19.4  28.6    80.0   58.4  3.6  24.00

In [28]:
df_mean = pd.DataFrame()
df_mean['suhu_min'] = df.Tn.resample('M').mean().ffill()
df_mean['suhu_max'] = df.Tx.resample('M').mean().ffill()
df_mean['kelembaban_udara'] = df.RH_avg.resample('M').mean().ffill()
df_mean['curah_hujan'] = df.RR.resample('M').sum().ffill()
df_mean['lama_penyinaran'] = df.ss.resample('M').mean().ffill()
df_mean['TAvg'] = (df_mean['suhu_min'] + df_mean['suhu_max']) / 2
# drop df_mean suhu_min and suhu_max
df_mean = df_mean.drop(['suhu_min','suhu_max'], axis = 1)
print(df_mean)
df_mean.tail(7)

# print(df_mean.shape)
# sort by tanggal as datetime in tanggal

            kelembaban_udara  curah_hujan  lama_penyinaran       TAvg
Tanggal
2020-01-31         82.133333        327.3         5.026667  25.135000
2020-02-29         84.724138        502.4         4.803448  25.039655
2020-03-31         82.838710        238.8         5.416129  25.266129
2020-04-30         79.551724        154.2         6.500000  25.279310
2020-05-31         79.965517        135.7         6.224138  25.006897
2020-06-30         75.300000          3.2         7.560000  23.771667
2020-07-31         75.833333         17.4         7.750000  23.098333
2020-08-31         73.000000         55.3         8.109091  23.663636
2020-09-30         73.352941          5.4         8.247059  24.500000
2020-10-31         75.466667        130.8         6.793333  24.931667
2020-11-30         78.200000        233.1         6.090000  25.391667
2020-12-31         83.307692        319.2         3.057692  24.276923
2021-01-31         85.096774        373.5         2.406452  24.483871
2021-02-28         81.555556        486.4         3.622222  24.907407
2021-03-31         83.466667        299.7         4.340000  24.703333
2021-04-30         76.862069        123.8         6.158621  24.812069
2021-05-31         76.740741         82.7         7.344444  24.909259
2021-06-30         78.321429        206.3         7.271429  24.605357
2021-07-31         72.483871         17.0         8.041935  23.283871
2021-08-31         76.419355         36.9         7.425806  24.180645
2021-09-30         77.500000        107.0         6.163333  24.758333
2021-10-31         78.500000        132.8         6.666667  25.060000
2021-11-30         83.900000        367.1         4.103333  24.820000
2021-12-31         83.807692        212.1         4.188462  25.100000
2022-01-31         82.000000        216.1         3.841379  24.889655
2022-02-28         83.222222        352.5         4.333333  24.670370
2022-03-31         82.821429        259.3         4.082143  25.037500
2022-04-30         78.586207        354.6         6.082759  24.832759
2022-05-31         77.607143         74.6         6.760714  25.132143
2022-06-30         80.407407        308.2         6.377778  24.109259
2022-07-31         75.586207         20.3         7.268966  23.637931
2022-08-31         76.518519         43.6         6.929630  23.709259
2022-09-30         77.375000         27.8         6.225000  24.562500

            kelembaban_udara  curah_hujan  lama_penyinaran       TAvg
Tanggal
2022-03-31         82.821429        259.3         4.082143  25.037500
2022-04-30         78.586207        354.6         6.082759  24.832759
2022-05-31         77.607143         74.6         6.760714  25.132143
2022-06-30         80.407407        308.2         6.377778  24.109259
2022-07-31         75.586207         20.3         7.268966  23.637931
2022-08-31         76.518519         43.6         6.929630  23.709259
2022-09-30         77.375000         27.8         6.225000  24.562500

In [ ]:
df_mean.plot()

In [ ]:
# check type of data
df_mean.dtypes

In [ ]:
# create new column with three categorical level value 0, 1, 2 based on rr value

labels = ['BURUK','BAIK']

good_temprature = np.arange(12.8, 30.3, 0.1)
good_kelembapan = 
good_lamapenyinaran = 
good_curahhujan = 

# df['tn_level'] = pd.cut(df['tn'], bins=3, labels=labels)
# df['tx_level'] = pd.cut(df['tx'], bins=3, labels=labels)
# init empty dataframe
df_discreted = pd.DataFrame()
# if t_avg is range inside good_temprature, assign to new column tavg_level
df_discreted['tavg_level'] = np.where(df_mean['tavg'].isin(good_temprature), 'BAIK', 'BURUK')
df_discreted['rh_avg_level'] = np.where(df_mean['rh_avg'].isin(good_kelembapan), 'BAIK', 'BURUK')
df_discreted['rr_level'] = np.where(df_mean['rr'].isin(good_curahhujan), 'BAIK', 'BURUK')
df_discreted['ss_level'] = np.where(df_mean['ss'].isin(good_lamapenyinaran), 'BAIK', 'BURUK')

# df_mean['ss_level'] = pd.cut(df_mean['ss'], bins=3, labels=labels)
# df_mean['ff_x_level'] = pd.cut(df_mean['ff_x'], bins=3, labels=labels)
# df_mean['ddd_x_level'] = pd.cut(df_mean['ddd_x'], bins=3, labels=labels)
# df_mean['ff_avg_level'] = pd.cut(df_mean['ff_avg'], bins=3, labels=labels)

# df_mean.drop(['tavg','rh_avg','rr','ss'], axis = 1, inplace=True)

df_discreted

In [ ]:
# show df where is tavg_level is BAIK
df[df['rh_avg_level'] == 'BAIK']

In [ ]:

# iterate each row in dataframe
for index, row in df.iterrows():
    # count value with TINGGI value
    tinggi = 0

    # loop each column in dataframe
    for col in df.columns:
        # check if value is TINGGI
        if row.loc[col] == 'BAIK':
            tinggi += 1
  
    # calculate probability
    prob = tinggi / 4
    # set row column presentase with probability value
    
    df.loc[index, 'presentase'] = prob

    df.loc[index, 'peluang_pertumbuhan'] = 'BURUK' if prob < 0.5 else 'BAIK' 
df

In [ ]:
df[df['presentase'] > 0.50]

In [ ]:
# labelling df

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_labelled = df.apply(le.fit_transform)
df_labelled.head()

In [ ]:
# min max normalization sklearn

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df_labelled)
df_norm = scaler.transform(df_labelled)
df_norm = pd.DataFrame(df_norm, columns=df_labelled.columns)
df_norm.head()

In [ ]:
#  variabel bebas
print(df_labelled.columns)
y = df_labelled['peluang_pertumbuhan']
#variabel tidak bebas
y

In [ ]:
x = df_labelled.drop(['peluang_pertumbuhan','presentase'], axis=1)

x

In [ ]:
# separate the dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 3)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

In [ ]:
# import the model using multinomial naive bayes

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

# train the model
gnb.fit(x_train, y_train)

# predict the model
y_pred = gnb.predict(x_test)

# import the metrics
from sklearn import metrics

# print the accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
y_pred

In [ ]:
# plot naive bayes confusion matrix
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

cm = confusion_matrix(y_test, y_pred, labels=gnb.classes_, normalize='true')
plt.figure(figsize=(10,10))
sns.heatmap(cm, annot=True, fmt=".3f", linewidths=.5, square = True, cmap = 'Blues_r');
plt.ylabel('Actual label');
plt.xlabel('Predicted label');
all_sample_title = 'Accuracy Score: {0}'.format(metrics.accuracy_score(y_test, y_pred))
plt.title(all_sample_title, size = 15);

plt.show()

In [ ]:
# show the y_test based on separation dataset
# np.array(y_test)

# show the confusion matrix based on the prediction result 
#evaluate performance from the confusion matrix 
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

# show all probability for each predicted class 
gnb.predict_proba(x_test)

In [ ]:
new_data = [28, 84, 84, 400]

# fit with discrete values

new_data = le.transform(new_data)


# predict the new data
y_new_pred = gnb.predict([new_data])

# show the prediction result
y_new_pred